
*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;

    background: url("linkdinBG.jpg");
    background-repeat: no-repeat;
    
}
.details{
    color: whitesmoke;
    position: absolute;
   top: 10%;
   left: 5%;
}